[Unit]
Description=Plesk Apache watchdog
Wants=network-online.target
After=network-online.target plesk.service apache2.service

[Service]
Type=simple
ExecStart=/usr/local/libexec/plesk-watchdog/plesk-watchdog
EnvironmentFile=-/etc/plesk-watchdog.conf
Restart=on-failure
RestartSec=10s
User=root
UMask=0077

[Install]
WantedBy=multi-user.target
