# Plesk Apache watchdog configuration.
# Copy this file to /etc/plesk-watchdog.conf when installing manually.

WATCHDOG_LOG=/usr/local/libexec/plesk-watchdog/watchdog.log
WATCHDOG_STATE_DIR=/usr/local/libexec/plesk-watchdog/state
WATCHDOG_LOCK_FILE=/usr/local/libexec/plesk-watchdog/plesk-watchdog.lock
WATCHDOG_DOMAIN_COMMAND="plesk bin site --list"

WATCHDOG_CURL_COMMAND="curl"
WATCHDOG_SYSTEMCTL_COMMAND="systemctl"
WATCHDOG_SLEEP_COMMAND="sleep"
WATCHDOG_APACHE_SERVICE=apache2
WATCHDOG_SCHEME=https
WATCHDOG_PATH=/
WATCHDOG_DELAY_SECONDS=30
WATCHDOG_FAILURE_THRESHOLD=3
WATCHDOG_RETRY_ATTEMPTS=3
WATCHDOG_RETRY_DELAY_SECONDS=1
WATCHDOG_DOMAIN_EXCEPTIONS=
WATCHDOG_RESTART_COOLDOWN_SECONDS=300
WATCHDOG_CONNECT_TIMEOUT_SECONDS=10
WATCHDOG_REQUEST_TIMEOUT_SECONDS=30
WATCHDOG_USER_AGENT="plesk-watchdog/1.0"
WATCHDOG_SUCCESS_MIN=200
WATCHDOG_SUCCESS_MAX=399
WATCHDOG_ACCEPTED_STATUS_CODES=503
